<h2>Add new entry</h2>
<form action="/celebrities" method="post">
  <input type="text" name="name" placeholder="Name">
      <input type="text" name="occupation" placeholder="Occupation">
      <input type="text" name="catchPhrase" placeholder="Catch phrase">
      <input type="submit" value="Save">
</form>

